.card{
    display: flex;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-radius: 5rem;
    padding: 5px;
   

}
.card h5{
    display: flex;
    justify-content: center;
    color:white;
}

a{
    text-decoration: none;
}