footer {
    background-color:#212529;    ;
    color: #FFF;
    display: flex;
    justify-content:center;
    font-style: italic;
    position:absolute;
    bottom:0;
    width: 100%;  
}

